[package]
name = "p2panda"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib", "cdylib"]

[build-dependencies]
flutter_rust_bridge_codegen = "1.82.6"

[dependencies]
android_logger = "0.13.1"
anyhow = "1.0.75"
aquadoggo = "0.8.0"
ed25519-dalek = "1.0.1"
flutter_rust_bridge = "1.82.6"
log = "0.4.19"
p2panda-rs = "0.8.1"
tokio = { version = "1.28.2", features = ["rt"] }
